:root {
    --primary-color: #6a7b8b; /*--background color for header and footer--*/
    --secondary-color: #bbc1c8; /*--secondary background color for the main section--*/
    --background-color: #f5f5f5; /*--primary background color--*/
    --text-color: #5c5b5b; /*--grey text--*/
    --white: #ffffff; /*--white text--*/
    --font: 'Open Sans', sans-serif; /*--by default the text size is 16--*/
  }

body{
    background-color: var(--background-color);
    padding: 40px;
    width: 1000px;
    margin: 0 auto;
}

.h1{
    color: var(--text-color);
    padding: 30px;
}

.errorMessage {
    height: 15px;
    font-size: 14px;
    color: #e74c3c;
    margin-top: 5px;
    margin-bottom: 15px;
}

#main-navigation  {
    display: flex;
    justify-content: space-between;
}

#table-home th {
    width: 120px;
 }

table, th, td {
    border: 1px solid #ccc;
    padding: 5px;;
}
