:root {
    --primary-color: #6a7b8b; /*--background color for header and footer--*/
    --secondary-color: #bbc1c8; /*--secondary background color for the main section--*/
    --background-color: #f5f5f5; /*--primary background color--*/
    --text-color: #5c5b5b; /*--grey text--*/
    --white: #ffffff; /*--white text--*/
    --font: 'Open Sans', sans-serif; /*--by default the text size is 16--*/
  }

body{
    background-color: var(--background-color);
}
.h1{
    color: var(--text-color);
}
